#productsDetailViewContainer {
    float: left;
    width: 50%;
    text-align: center;
    border: 1px solid rgb(214, 175, 175);
    margin: 0px 0px 12% 20%;
    padding: 2% 0px;
}

#productsDetailViewContainer img{
    float: none;
    margin-bottom: 1%;
}

#productsDetailViewContainer h4{
    float: none;
    margin: 2% 0% 4%;
}

#loginInfo{
    color: red;
}

