#forgotPassword{
    float: left;
    width: 40%;
    margin: 0% 0% 2% 30%;
    padding: 2%;
}

#forgotPassword form{
    float: left;
    border: 1px solid lightgray;
    width: 100%;
    padding:4%;
}

#forgotPassword form div{
    width: 100%;
}

#forgotPassword form div div{
    width: 60%;
}

#forgotPassword form button {
    margin-top: 3%;
}
