#register{
    float: left;
    width: 40%;
    margin: 4% 0% 2% 30%;
    border: 1px solid lightgray;
    padding: 2%;
}

#register form{
    float: left;
    width: 100%;
}

#register form div{
    width: 100%;
}

#register form div div{
    width: 60%;
}

#register form button {
    margin-top: 3%;
}