#productsViewContainer {
    float: left;
    width: 100%;
    text-align: center;
}

#productsViewContainer div{
	float: left;
	width: 20%;
    margin-bottom: 2%;
}

#productsViewContainer a{
	float: left;
    text-decoration: none;
	border: 1px solid lightgray;
	padding: 2%;
}
